@import "tailwindcss";

@theme {
  --color-primary: #F37021;
  --color-secondary: #011627;
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "sans-serif";
}

@layer base {
  body {
    @apply font-sans antialiased text-secondary;
  }
}